a {
    text-decoration: none;
}

.dropdown-cart {
    min-width: 300px;
}

.banner-bg {
    background-image: url('https://images.unsplash.com/photo-1558769132-cb1aea458c5e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80');
    background-size: cover;
    background-position: center center;
    min-height: 400px;
}

.search-width {
    width: 280px;
}

.box-shadow {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .16);
    transition: box-shadow .3s;
}

.box-shadow:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, .24);
}

.menu-top {
    top: 20px;
}

.container-thin-sm {
    width: 100%;
}

@media (min-width: 768px) {
    .container-thin-sm {
        width: 66.666666%;
    }
}